# Compiled output directories
**/target/
**/dist/

# Dependency directories
**/node_modules/

# Portable developer tools
node-v20.11.0-win-x64/
smarthire-backend/apache-maven-3.9.9/

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.iml

# Secret files
.env
*.env
**/uploads/
